<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Creswave</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>



<form [formGroup]="profileForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>PT OPD Assessment Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label>Referring Doctor:</mat-label>
            <input formControlName="ReferringDoctor" matInput placeholder="Referring Doctor "> 
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" >
            <mat-label>Diagnosis:</mat-label>
            <input  formControlName="Diagnosis" matInput placeholder="Diagnosis">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Chief complains/subjective History</mat-label>
            <textarea  formControlName="chiefcomplians" matInput placeholder="Chief complains/subjective History"></textarea>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Past Medical History:</mat-label>
              <textarea  formControlName="PastMedical" matInput placeholder="Past Medical History"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Surgical History:</mat-label>
              <textarea  formControlName="SurgicalHistory" matInput placeholder="Surgical History"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <mat-label style="font-size: medium;">Objective Examination(Range Of Motion)</mat-label>
          <ol>
        <li>  <mat-form-field class="full-width" >
              <mat-label>Rue:</mat-label>
              <input  formControlName="Rue" matInput placeholder="Rue">
          </mat-form-field></li>
        <li>  <mat-form-field class="full-width" >
              <mat-label>Lue:</mat-label>
              <input  formControlName="Lue" matInput placeholder="Lue">
          </mat-form-field></li>
        <li>  <mat-form-field class="full-width" >
            <mat-label>Rle:</mat-label>
            <input  formControlName="Rle" matInput placeholder="Rle">
             </mat-form-field></li>
        <li> <mat-form-field class="full-width" >
            <mat-label>Lle:</mat-label>
            <input  formControlName="Lle" matInput placeholder="Lle">
            </mat-form-field></li>
        </ol>
        </div>
        <div class="col-md-6">
          <mat-label style="font-size: medium;">Muscle Strength:</mat-label>
          <ol>
        <li>  <mat-form-field class="full-width" >
              <mat-label>Right Upper extremity:</mat-label>
              <input  formControlName="RightUpper" matInput placeholder="Right Upper extremity">
          </mat-form-field></li>
        <li>  <mat-form-field class="full-width" >
              <mat-label>Left:</mat-label>
              <input  formControlName="Left" matInput placeholder="Left">
          </mat-form-field></li>
        <li>  <mat-form-field class="full-width" >
            <mat-label>Right Lower:</mat-label>
            <input  formControlName="RightLower" matInput placeholder="Right Lower">
             </mat-form-field></li>
        <li> <mat-form-field class="full-width" >
            <mat-label>Left:</mat-label>
            <input  formControlName="Left" matInput placeholder="Left">
            </mat-form-field></li>
        <li> <mat-form-field class="full-width" >
            <mat-label>Balance :</mat-label>
            <input  formControlName="Balance" matInput placeholder="Balance">
            </mat-form-field></li>    
        </ol>
        </div>
        <div class="col-md-6">
          <mat-label style="font-size: medium;">Functional Mobility:</mat-label>
          <ol>
        <li>  <mat-form-field class="full-width" >
              <mat-label>Gait:</mat-label>
              <input  formControlName="Gait" matInput placeholder="Gait">
          </mat-form-field></li>    
        <li>  <mat-form-field class="full-width" >
              <mat-label>Pain</mat-label>
              <input  formControlName="Pain" matInput placeholder="Pain">
          </mat-form-field></li>
        
        <li>  <mat-form-field class="full-width" >
            <mat-label>Mobility (Transfers):</mat-label>
            <input  formControlName="Mobility" matInput placeholder="Mobility (Transfers)">
             </mat-form-field></li>
        <li> <mat-form-field class="full-width" >
            <mat-label>Motor/ Strength:</mat-label>
            <input  formControlName="Motor" matInput placeholder="Motor/ Strength">
            </mat-form-field></li>
        </ol>
        </div>
        
        
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>